{% if comments %} 
<ul class="list-unstyled"> 
    {% for comment in comments %} 
    <li class="card mb-3">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded" src="{{ comment.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="col-md-10">
                <div class="comment-content">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                </div>
                <div class="comment-meta">
                    <a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                    {{ moment(comment.timestamp).fromNow() }}
                    {% if moderate %}
                    <br>
                    {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                    {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </li> 
    {% endfor %} 
</ul> 
{% else %} 
<p>No comments yet.</p> 
{% endif %} 
