{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block title %}Flasky{% endblock %} 
{% block page_content %} 
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p> 
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
<div class="page-header"> 
    Hello, 
    {% if current_user.is_authenticated %} 
        {{ current_user.username }} 
    {% else %} 
        Stranger 
    {% endif %}!

    {% if current_user.is_authenticated and current_user.can(Permission.ADMINISTER) %}
        <li><a href="#">Admin Panel</a></li>
    {% else %} 
        <li><a href="#">user Panel</a></li>
    {% endif %}
</div> 

{% endblock %}