{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% import "_macros.html" as macros %} 

{% block title %}Flasky{% endblock %} 
{% block page_content %} 
<div class="page-header"> 
    Hello, 
    {% if current_user.is_authenticated %} 
        {{ current_user.username }} 
    {% else %} 
        Stranger 
    {% endif %}!
</div> 

{% if current_user.is_authenticated %} 
<div class="mb-3"> 
    <a href="{{ url_for('.show_all') }}" class="btn btn-default{% if not show_followed %} active{% endif %}">All</a> 
    <a href="{{ url_for('.show_followed') }}" class="btn btn-default{% if show_followed %} active{% endif %}">Followed</a> 
</div> 
{% endif %} 

<div> 
    {% if current_user.can(Permission.WRITE_ARTICLES) %} 
    {{ wtf.quick_form(form) }} 
    {% endif %} 
</div> 

{% include '_posts.html' %}
<div class="pagination"> 
    {{ macros.pagination_widget(pagination, '.index') }} 
</div> 

{% endblock %}  

{% block scripts %} 
{{ super() }} 
{{ pagedown.include_pagedown() }} 
{% endblock %}